*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    body{
        width: 100%;
        height: 100%;
        background-color: #DDEDFA;
        .start-screen, .main-screen, .main {
            display: none;
        }
        
        .start-screen{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .main{
            width: 100%;
            background-color: #fff;
            height: 100vh;
            transition: all 0.8s ease;
            padding-top: 30%;
            .nav{
                width: 100%;
                height: 80px;
                padding: 0 15px;
                position: fixed;
                z-index: 9999;
                transition: all 0.8s ease;
                top: 0;
                background-color: #DDEDFA;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                .settings{
                   width: 55px;
                   height: 50px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   background-color: #3B3B3B;
                   border-radius: 15px; 
                   i{
                    color: #fff;
                    font-size: 7vw;
                   }
                }
                .box1{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: all 0.8s ease;
                    align-items: center;
                        color:#3B3B3B;
                        h1{
                            text-transform: uppercase;
                            font-size: 7vw;
                            font-weight: 900;
                        }
                        .bar{
                            width: 90%;
                            height: 13px;
                            margin-top: 5px;
                            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
                            display: flex;
                            .blue{
                                width: 50%;
                                height: 100%;
                                background-color: royalblue;
                            }
                            .red{
                                width: 50%;
                                height: 100%;
                                background-color: crimson;
                            }
                        }
                    }   
            }
            .game-container{
                width: 100%;
                height: 100%;
                .game-bx{
                    width: 90%;
                    margin-left: 5%;
                    height: 180px;
                    position: relative;
                    border: 8px solid #3B3B3B;
                    border-radius:12px;
                    overflow: hidden;
                    margin-bottom: 5%;
                    outline: none;
                    img{
                        width: 100%;
                        height: 100%;
                        outline: none;
                        object-fit: cover;
                    }
                    .overlay{
                        width: 100%;
                        height: 100%;
                        outline: none;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: flex-end;
                        padding: 15px;
                        font-size: 6vw;
                        position: absolute;
                        a{
                            text-decoration: none;
                            h2{
                                color: #fff;
                            }
                        }
                       
                    }
                    
                }
            }
      

        }
        .main-screen{
            width: 100%;
            background-color: #fff;
            height: 100vh;
            display: none;
            padding-top: 0%;
            transition: all 1s ease-in;
            .box1{
            width: 90%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 0.8s ease;
            align-items: center;
                color:#3B3B3B;
                h1{
                    text-transform: uppercase;
                    font-weight: 900;
                }
                .bar{
                    width: 100%;
                    height: 18px;
                    margin-top: 5px;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
                    display: flex;
                    .blue{
                        width: 50%;
                        height: 100%;
                        background-color: royalblue;
                    }
                    .red{
                        width: 50%;
                        height: 100%;
                        background-color: crimson;
                    }
                }
            }

        }
        .start-screen{
            .w-msg{
                width: 87%;
                margin-top: 5%;
                height: 400px;
                text-align: center;
                padding: 45px 20px 10px 10px;
                background-color: #fff;
                border-radius: 15px;
                h2{
                    font-size: 8vw;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                h3{
                    font-size: 7vw;
                    margin-top: 6%;
                    span{
                        color: rgb(33, 80, 223);
                    }
                }

            }
            .sbtn{
                width: 140px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 25px;
                transition: all ease 0.3s;
                margin-top: 5%;
                border-radius: 14px;
                box-shadow: 2px 5px #0a31a5;
                color: #fff;
                font-family: sans-serif;
                font-weight: 600;
                font-size: 6vw;
                background-color: #2350d4;
                text-transform: uppercase;
            }
            .box1{
                width: 87%;
                color:#3B3B3B;
                h1{
                    text-transform: uppercase;
                    font-weight: 900;
                }
                .bar{
                    width: 100%;
                    height: 18px;
                    margin-top: 5px;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
                    display: flex;
                    .blue{
                        width: 50%;
                        height: 100%;
                        background-color: royalblue;
                    }
                    .red{
                        width: 50%;
                        height: 100%;
                        background-color: crimson;
                    }
                }
            }

        }
    }
}
